body {
    margin: 0;
    font-family: sans-serif;
}
*{
    box-sizing: border-box;
}
a, li{
    text-decoration: none ;
    list-style: none ;
}
.header{
    width: 100%;
    /* position: sticky; */
    /* float: left; */
}
.header img{
    width: 16%;
    margin-left: 5px;
    position: sticky;
}
.header1{

}

.content-wraper{
  background-color: #e5e5e5;
  /* background-color: linear-gradient(rgb(254, 254, 254), rgba(9, 255, 103, 0.33)); */
  /* min-height: 500px; */
  width: 100%;
  float: left;
  padding: 30px;
  
}

.content-wraper .container{
    width: 100%;
    float: left;
    border: 1px solid #c5c4c4;
    background-color: #f9f9f9;
    /* background-color: linear-gradient(rgb(254, 254, 254), rgba(9, 255, 103, 0.33)); */
    border-radius: 5px;
    /* min-height: 470px;*/
}

.content-wraper .nav{
    width: 20%;
    float: left;
    padding: 20px;
    border-radius: 5px 0px 0px 5px;
    
    /* min-height: 500px;*/
}
.content-wraper .nav a{
    background-color: #047dc3;
    /* background-color: linear-gradient(rgb(254, 254, 254), rgba(9, 255, 103, 0.33)); */
    border-radius: 4px;
    display: block ;
    text-align: center;
    padding: 12px 15px;
    color: #ffffff;
    margin-bottom: 10px;
}

.content-wraper .nav a.active{
    color: #000000;
    background-color: #fbaeae;
    /* background-color: linear-gradient(rgb(254, 254, 254), rgba(9, 255, 103, 0.33)); */
    border:1px solid #cc6868;
}
.content-wraper .content{
    float: left;
    width: 80%;
    min-height: 800px;
    background-color: #ffffff ;
    /* background-image: linear-gradient(rgb(250, 226, 251), rgba(157, 244, 34, 0.33)); */
    padding: 20px;
    padding-bottom: 50xp;
    border-left: 1px solid #c5c4c4;
    border-radius: 0px 5px 5px 0px;
}

.content-wraper .content .heading{
    background-color: #ffb2b2 ;
    font-size: 25px;
    padding: 10px 15px;
    margin: 0px 0px 10px ;
    border-radius: 4px ;
    border: 1px solid #cc6868;
}

.content-wraper .content p{
    font-size: 16px;
    color: #000000;
    line-height: 24px;
    margin: 0px 0px 15px;
} 
.content-wraper .content .products .box{
    min-width:cal(33% - 30px);
    float: left;
    box-shadow: 0px 0px 10px #cdcdcd;
    height: 350px;
    margin: 15px;
    border-radius: 4px;
    position: relative;
}

.content-wraper .content .products .box img{
    max-width: 100%;
    max-height: 100%;
    padding: 20px;
/*    width: auto;
   height: auto;
    position: absolute;
    display:inline-block;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;*/
    z-index : 1;
    
}

.content-wraper .content .products .box .price{
    background-color: #047dc3;
    /* background-color: linear-gradient(rgb(254, 254, 254), rgba(9, 255, 103, 0.33)); */
    padding: 10px 20px;
    color: #ffffff;
    font-size:16px;
    position: absolute ;
    left: 0;
    top: 0;
    z-index: 10;
}

.content-wraper .content .products .box .buy{
    background-color: #e6b723;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.content-wraper .content .feedback-form{
    width: 100%;
    float: left ;
    border-top: 1px solid #c5c4c4;
    padding-top: 20px;
}

.content-wraper .content .feedback-form form{
    float: left;
    width: 50%;
   /* border: 1px solid #c5c4c4;*/
} 

.content-wraper .content .feedback-form form .row{
    width: 100%;
    float: left;
    margin-bottom: 15px;
}
 
 .content-wraper .content .feedback-form form .row .label{
     width: 30%;
     float: left;
     line-height: 40px;
     font-size: 15px;
     font-weight: bold;
 }
 
 .content-wraper .content .feedback-form form .row .input{
     width: 70%;
     float: right;
 }
 
 
 .content-wraper .content .feedback-form form .row .input .form-control{
     width: 100%;
     height: 40px;
     border-radius: 4px;
     border: 1px solid #c5c4c4;
     padding: 6px 12px;
 }
 
.content-wraper .content .feedback-form form .row .input textarea.form-control{
    height: 100px;  
  }
  .btn{
      color: #000000;
      background-color:#fbb3a7;
      border:1px solid #cc6e64;
      border-radius: 4px;
      height: 40px;
      padding: 0px 30px;
      font-size: 16px;
  }
  
.footer{
     background-color: #047dc3;
     padding: 50px 30px;
     float: left;
     width: 100%;
     text-align: center;
 }
 
 .footer h5{
     color: #d8d8d8;
     font-size: 16px;
     margin:0px;
     font-family: comic sans ms;
 }
 
 .footer p{
     color: #ffffff;
     margin: 10px 0;
 }
 /* responsive */
 /* if the width is equal to or less than 991 Then*/
 @media(min-width:992px){
    .header{
        width: 100%;
        /* float: left; */
    }
    .header img{
        width: 15.5%;
        height: auto;
        margin-left: 5px;
    }
 }
 
 @media(max-width: 991px){
    .header{
        width: 100%;
        /* float: left; */
    }
    .header img{
        width: 15.5%;
        height: auto;
        margin-left: 5px;
    }
.content-wraper .content .products .box{
    height: 280px;
}
 .content-wraper .content .feedback-form form{
     width: 70%;
 }
 }
 
 /* if width < = 767 then */
 
 @media(max-width: 767px){
    .header{
        width: 100%;
        /* float: left; */
    }
    .header img{
        width: 15%;
        height: auto;
        margin-left: 5px;
    }
.content-wraper .nav{
    width: 100%;
}
.content{
    width: 100%;
    border-radius:0px 0px 5px  5px;
    }
.box{
    width: 100%;
    margin:15px 0px;
  }
   .content-wraper .content .feedback-form form{
       width: 100%;
   }
 }
     /* if width < = 500 then */
 @media(max-width: 500px){
    .header{
        width: 100%;
        /* float: left; */
    }
    .header img{
        width: 14%;
        height: auto;
        margin-left: 9px;
        /* display: none; */
    }
 .content-wraper .content .feedback-form form .row .label{
     width:100%;
  }
.content-wraper .content .feedback-form form .row .input{
    width: 100%;
}
 }
